In [1]:
import numpy as np # array handling
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = "https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records"
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

In [5]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied[c]', 'Pct.',
       'First NFL season', 'Division'],
      dtype='object')

In [6]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2        Baltimore Ravens
3           Chicago Bears
4    New England Patriots
Name: Team, dtype: object

In [7]:
nfl_frame["First NFL season"]

0    1960
1    1921
2    1996
3    1920
4    1960
Name: First NFL season, dtype: int64

In [8]:
DataFrame(nfl_frame,columns=["Team","Won","Lost"])

                   Team  Won  Lost
0        Dallas Cowboys  562   413
1     Green Bay Packers  799   598
2      Baltimore Ravens  256   194
3         Chicago Bears  793   634
4  New England Patriots  541   433

In [9]:
DataFrame(nfl_frame,columns=["Team","Won","Lost","Stadium"])

                   Team  Won  Lost  Stadium
0        Dallas Cowboys  562   413      NaN
1     Green Bay Packers  799   598      NaN
2      Baltimore Ravens  256   194      NaN
3         Chicago Bears  793   634      NaN
4  New England Patriots  541   433      NaN

In [10]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

In [14]:
nfl_frame["Stadium"] = "Levi's Stadium"
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,Levi's Stadium
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,Levi's Stadium
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,Levi's Stadium

In [15]:
nfl_frame["Stadium"] = np.arange(5)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,0
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,1
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,2
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,3
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,4

In [16]:
stadiums = Series(["Levi's Stadium","AT%T Stadium"],index=[4,0])
stadiums

4    Levi's Stadium
0      AT%T Stadium
dtype: object

In [17]:
nfl_frame["Stadium"] = stadiums
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East,AT%T Stadium
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North,NaN
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North,NaN
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North,NaN
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East,Levi's Stadium

In [18]:
del nfl_frame["Stadium"]
nfl_frame

,Rank,Team,GP,Won,Lost,Tied[c],Pct.,First NFL season,Division
0,1,Dallas Cowboys,981,562,413,6 (0),0.576,1960,NFC East
1,2,Green Bay Packers,"1,435",799,598,38 (8),0.572,1921,NFC North
2,3,Baltimore Ravens,451,256,194,1,0.569,1996,AFC North
3,4,Chicago Bears,"1,469",793,634,42 (1),0.556,1920,NFC North
4,5,New England Patriots,983,541,433,9 (0),0.555,1960,AFC East

INDEX OBJECTS

In [20]:
my_series = Series([1,2,3,4],index=["A","B","C","D"])
my_series

A    1
B    2
C    3
D    4
dtype: int64

In [21]:
my_index = my_series.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')